/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container-nav {
  max-width: 500px;
}
.container-nav .mobile-hidden {
  display: none;
}
@media (min-width: 800px) {
  .container-nav {
    max-width: 800px;
  }
  .container-nav .tablet-hidden {
    display: none;
  }
  .container-nav .mobile-hidden {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .container-nav .nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    border-bottom: 2px dashed gray;
  }
  .container-nav .nav-container .nav-links {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
  }
  .container-nav .nav-container .nav-links a {
    text-decoration: none;
    font-size: 1.2em;
    color: teal;
  }
  .container-nav .nav-container #logo-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    font-size: 2em;
  }
  .container-nav .nav-container #logo-icon-container #logo-icon {
    color: gray;
  }
}
.container-home .container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin-top: 100px;
}
@media (min-width: 800px) {
  .container-home .container-header {
    max-width: 800px;
  }
}
.container-home h2 {
  font-size: 1.5em;
  color: gray;
}
.container-home img {
  max-width: 95%;
  padding: 5px;
}
@media (min-width: 800px) {
  .container-home img {
    max-width: 100%;
  }
}
.container-home .container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.container-home .container-content .content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.container-home .container-content .content-section .text-content {
  width: 95%;
}
.container-nav {
  max-width: 500px;
  height: 50px;
  width: 95%;
}
@media (min-width: 800px) {
  .container-nav {
    max-width: 800px;
  }
}
.container-nav #logo-icon {
  color: gray;
  font-size: 50px;
  position: absolute;
}
.container-nav .dropdown {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
}
.container-nav .dropdown .dropdown-button {
  padding: 15px;
  border: 3px solid teal;
  border-radius: 5px;
  background-color: teal;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.container-nav .dropdown .dropdown-button:hover {
  background-color: orange;
  border-color: orange;
}
.container-nav .dropdown .dropdown-content {
  width: 30%;
  position: absolute;
  background-color: #FFFFFF;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 2.5px solid teal;
}
.container-nav .dropdown .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  color: teal;
}
.container-nav .dropdown .dropdown-link:hover {
  color: #FFFFFF;
  background-color: orangered;
}
.container-nav .dropdown .dropdown-hidden {
  display: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}
@media (min-width: 800px) {
  body {
    max-width: 800px;
  }
}
